@charset "UTF-8";
* { margin: 0; padding: 0; }
li {list-style-type:none;}

.header {width: 800px; height: 40px; background-color: #dddddd;}
.logo {font-size: 16px; color: #3e2b23; 
		padding: 10px 0 0 30px;
		font-weight: bold;
		float: left;
		text-shadow: 3px 3px 5px #444444;}
		
.left {width: 150px; background: #343333; color: #e2e2e2;}
.left h2 {font-weight:normal; padding: 20px 0px 0px 30px;}
.left ul {font-size: 14px; padding: 10px 10px 5px 25px; }
.left li {padding : 3px;}
		
.top_menu {padding: 10px 10px 0 0; float: right;}		

.thumnail {padding: 30px 0 0 70px;}

.thumnail .navi_left {margin: 20px 5px 0 40px;
						float: left;}
.thumnail .photos {margin: 3px 0 0 0;
					float: left;}
					
.thumnail .navi_right {margin: 20px 0 0 20px; float: left;}
.thumnail .photos li {display: inline;}
.thumnail .photos img {border: solid 5px #3d3d3d;}	
.thumnail .photos a:hover img {border : solid 5px #ffffff;}						
					